<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h.mapper.WxAssistLevelMapper">
    <resultMap id="BaseResultMap" type="com.h.entity.WxAssistLevel">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="assist_level" jdbcType="VARCHAR" property="assistLevel"/>
        <result column="assist_count" jdbcType="INTEGER" property="assistCount"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, assist_level, assist_count
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from wx_assist_level
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from wx_assist_level
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from wx_assist_level
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.h.entity.WxAssistLevel">
        insert into wx_assist_level (id, assist_level, assist_count)
        values (#{id,jdbcType=INTEGER}, #{assistLevel,jdbcType=VARCHAR}, #{assistCount,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.h.entity.WxAssistLevel">
        insert into wx_assist_level
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="assistLevel != null">
                assist_level,
            </if>
            <if test="assistCount != null">
                assist_count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="assistLevel != null">
                #{assistLevel,jdbcType=VARCHAR},
            </if>
            <if test="assistCount != null">
                #{assistCount,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.h.entity.WxAssistLevel">
        update wx_assist_level
        <set>
            <if test="assistLevel != null">
                assist_level = #{assistLevel,jdbcType=VARCHAR},
            </if>
            <if test="assistCount != null">
                assist_count = #{assistCount,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.h.entity.WxAssistLevel">
        update wx_assist_level
        set assist_level = #{assistLevel,jdbcType=VARCHAR},
            assist_count = #{assistCount,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
